body {

  background-image: url(stars.gif);
  background-position: center;
  cursor: url(greencursor.png), default;
  }

  @keyframes bounce{
      0% {
        background-color: blue;
      }
      15% {
        background-color: red;
      }
      30% {
        background-color: orange;
      }
      45% {
        background-color: purple;
      }
      60% {
        background-color: green;
      }
      75% {
       background-color: pink;
      }
      100% {
        background-color: black;
      }
    }
div {
  height: 14px;
  width: 14px;
  animation: animationFrames 5s infinite;
}

#red {
  position: relative;
  top: 200px;
  left: 100px;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 0.5s;
  border-radius: 50%

}

  h1 {
  background-image: url(limitless.gif);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  border-radius: 400px;
  border-bottom: 200px;
  border-image-width: thick;
  height: 95vh;
  width: 52vw;
  }

p {
  color: white;
  font-weight: normal;
  font-family: 'Redressed', cursive;
}


a {
  color: red;
  font-weight: bolder;
  font-family:'Redressed', cursive;
}
