body {

  background-image: url(stars.gif);
  background-position: center;
  cursor: url(greencursor.png), default;
  }

@keyframes bounce {
  0% {
    top: 0px;
    left: 0px;

  }
  100% {
    top: 100px;
      left: calc(10vw - 98px);
  }
}

div {
  background-color: red;
  height: 2%;
  width: 1.2%;
}

#red {
  position: relative;
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  top: 108px;
  left: calc(10vw - 108px);
  animation-delay: 1s;
  border-radius: 50%

}

  h1 {
  background-image: url(circle.gif);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: auto;
  border-radius: 300px;
  border-bottom: 300px;
  border-width: thick;
  }

p {
  color: white;
  font-weight: normal;
  font-family: 'Redressed', cursive;
}


a {
  color: red;
  font-weight: bolder;
  font-family:'Redressed', cursive;
}
